<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.name}"></title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script>
        function deleteConfirm() {
            return confirm("You sure you want to delete this user?");
        }
    </script>
</head>
<body>
    <header th:insert="~{fragments/general :: header}"></header>
    <hr/>
<!-- Person info block -->
    <p>Name: <span th:text="${person.name}"></span></p>
    <p>Year of Birth: <span th:text="${person.getBirthDate}"></span></p>
    <p>E-mail: <span th:text="${person.email}"></span></p>
    <hr/>
<!-- Borrowed books block -->
    <div th:if="${#lists.isEmpty(books)}">
    <p>This person didn't borrow any book</p>
    </div>
    <div th:if="${books!= null and not#lists.isEmpty(books)}">
        <h3>Books:</h3>
        <th:block th:with="bookDesc = ${book.title} + ', ' +${book.author} + ', ' + ${book.bookYear}"
                  th:each="book: ${books}" >
            <p th:text="${bookDesc}"> Book title</p>
        </th:block>
    </div>
    <hr/>
<!-- Buttons block -->
    <a class="btn btn-outline-info" th:href="@{{id}/edit(id=${person.id})}" style="display: inline-block">Edit</a>
    <form method="POST" th:method="DELETE" th:action="@{{id}(id=${person.id})}" style="display: inline-block">
        <input name="_method" type="hidden" value="DELETE"/>
        <input type="submit" class="btn btn-outline-danger" onclick="deleteConfirm()" value="Delete">
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
            integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>